h2 {
  margin: 1vh;
  color: red;
  text-shadow: 1px 1px 2px #f7f7f7; 
}

ul, li{
  margin: 1vh;
  height: 100%;
}

#share {
  width: 30px;
  height: 30px;
  background-color: blue;
  background-size: 100% 100%;
  cursor: pointer;
  float: left;
  border-radius: 5px;
  margin: 1vh;
}

#share:hover {
  opacity: 0.5;
}

#div-information {
  margin: 0 10% 0 10%;
  padding: 1vh 1vh 15% 3vh;
}