h2 {
  margin: 4px;
  color: red;
  text-shadow: 2px 2px 2px #f7f7f7; 
}

ul{
  margin: 2px 2px 0px 2px;
  height: 100%;
}

li {
  height: 100%;
}

#share {
  width: 30px;
  height: 30px;
  background-color: blue;
  background-size: 100% 100%;
  cursor: pointer;
  float: left;
  border-radius: 5px;
  margin: 0vh;
}

#share:hover {
  opacity: 0.5;
}

#div-information {
  background-image: url(https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/marshal-backand3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 10% 0 10%;
  padding: 1vh 1vh 20% 1vh;
}