<div class="content" id="div-information" [@flyInOut]="True ? 'activated' : 'deactivated'">
  <h2>ДОВЕРЬТЕ ВАШУ БЕЗОПАСНОСТЬ ПРОФЕССИОНАЛАМ!!!</h2>
  <h3>НАДЕЖНОСТЬ И БЕЗОПАСНОСТЬ ВАШЕЙ ЖИЗНИ И ВАШИХ БЛИЗКИХ.</h3> 
  <h3>ЧТО МОЖЕТ БЫТЬ ВАЖНЕЕ...</h3> 

<hr/>

<div style="border:none">
  <div id="share" (click)="OpenFB()" title="Поделиться FB" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/fb_icon_325x325.png)"></div>
  <div id="share" (click)="OpenVK()" title="Поделиться VK" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/vk.png)"></div>
  <div id="share" (click)="OpenOK()" title="Поделиться OK" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/OK2.png)"></div> 
  <div id="share" (click)="OpenTelegram()" title="Поделиться Telegram" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/telegram-logo-1.jpg)"></div>  
  <div id="share" (click)="OpenWhatsApp()" title="Поделиться WhatsApp" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/app-share.png)"></div>   
</div>

</div>