<div class="content" id="div-services" [@divTrigger]="True ? 'activated' : 'deactivated'">
 <h3>ОДА "МАРШАЛ" предполагает обширный спектр услуг, необходимых для нормального функционирования Вашего бизнеса, защиты Вашей жизни, здоровьяи и имущества, в том числе:</h3>
  <ul>
    <li>обслуживание ГБР;</li>
    <li>физическая охрана;</li>
    <li>пультовая охрана;</li>
  </ul>  
  <h3>Деятельность агентства направлена на всестороннее обеспечение порядка и безопасности наших клиентов. Мы всегда придерживаемся следующих принципов в своей деятельности:</h3>
  <ul>
    <li>законность;</li>
    <li>профессионализм;</li>
    <li>ответственность;</li>
    <li>конфиденциальность;</li>
  </ul>   
</div>