div {
  background-image: url(https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/marshal-backand3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 10% 0 10%;
  padding: 1vh 1vh 1vh 1vh;
}

p, li, ul {
  padding: 1px 1vh 0px 2vh;
}