/* Global Styles */

* {
  font-family: 'Julius Sans One', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #000000;
  background-image: url("https://wallpapercave.com/wp/EXB9jdd.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100vh;
}

router-outlet + *  {
  padding: 0 16px;
}

input {
  font-size: 2vh;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-block;
  padding: 1vh 2vh 1vh 2vh;
  font-size: 2vh; 
  font-weight: bold;
  color: #fd0000; 
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/black-web-button-png-3.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  border-radius: 9px;
  font-family: 'Julius Sans One', sans-serif; 
  margin: 0 0 24px; 
  line-height: 10px; 
  text-align: center;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  max-height: 9vh;
  min-height: 2vh;
  text-shadow: 1px 1px 2px #f0ee94; 
}

.button:hover, button:hover {
  font-weight: bolder;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

app-top-bar {
  cursor: pointer;
}

h1 { 
  font-size: 4vh;
  text-align: center; 
  font-weight: bold;
}

h2 {
  font-size: 2.5vh;
  font-weight: lighter;
}

h3 {
  font-size: 2.2vh;
}

h2, h3 { 
  color: rgb(255, 255, 255); 
  font-family: 'Julius Sans One', sans-serif; 
  font-weight: bold;  
  text-shadow: 1px 1px 1px #9e0000; 
}

p, li { 
  color: rgb(255, 255, 255); 
  font-family: 'Carme', sans-serif; 
  line-height: 2.5vh; 
  margin: 0 0 0px; 
  font-size: 2vh;
  font-weight: bold;
  text-shadow: 2px 2px 4px #960b0b; 
}

a { 
  cursor: pointer;
  color: #be6262;
  opacity: 1;
}

a:hover { 
  color: #e71e17; 
  opacity: 0,9;
  font-weight: bold;
}

div {
  background-color: black;
  opacity: 0.8;  
  border: 0.1vh solid transparent;
  border-color: rgb(134, 10, 10);
  border-radius: 5%;
}

.content{
  height: 100%;
  margin: 1vh 5% 1vh 5%;
  padding: 1vh 1vh 5vh 1vh;  
  max-width: 100%;
  background-image: url(https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/marshal-backand3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.breafing {
  height: 100%;
  margin: 3vh 3% 0 3%;
  padding: 1vh 0.5vh 1vh 2vh;  
  float:left;
  width: 50%;  
  background-image: url(https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/marshal-backand3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
}