div {
}


#marshal {  
  display: flex;
  opacity: 1;
	width: 100%;
	height: 17vh;
  background-size: 100% 100%;
  flex-direction: row;
  align-items: center;  
  background-color: #030303;
  border: 0.3vh solid transparent;
  border-color: rgb(129, 19, 19);
  border-radius: 0;
	//animation: movingclouds 60s linear infinite;
}

@keyframes movingclouds {
	0% {margin: 0 -20% 0 0;}
	50% {margin: 0 0 0 -20%;}
	100% {margin: 0 -20% 0 0;}
}

#gerb {
  border: none;
  max-width: 10vh;
  min-width: 5vh;
  max-height: 10vh;
  min-height: 5vh;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/gerb.jpg");  
  margin: -5vh 1vh 0vh 2ch;  
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

#label {
  position: absolute;
  border: none;
  opacity: 0.8;
  max-width: 30vh;
  min-width: 15vh;
  max-height: 30vh;
  min-height: 15vh;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/marshal-label.png");
  margin: 1vh 50% 5% 50%;  
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

#flag {
  border: none;
  max-width: 15vh;
  min-width: 8vh;
  max-height: 10vh;
  min-height: 5vh;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/flag.jpg");
  margin: -5vh 2vh 0vh 90%;  
  background-repeat:no-repeat;
  background-size: 100% 100%;
}