div {
  display: flex;
  background-color: #080808;
  background-size: 100% 100%;
  border: 0.3vh solid transparent;
  border-color: rgb(129, 19, 19);
  border-radius: 0;
}

#sky {
	overflow: hidden;  
}

#marshal {  
	width: 120%;
	height: 28vh;
  border: none;
	background-image: url('https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/marshal-top-bar.png');
	background-size: cover;
  background-repeat:repeat;
  padding: 1vh;
  opacity: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
	//animation: movingclouds 60s linear infinite;
}

@keyframes movingclouds {
	0% {margin: 0 -20% 0 0;}
	50% {margin: 0 0 0 -20%;}
	100% {margin: 0 -20% 0 0;}
}
