#marshal {  
  position: relative;
  opacity: 0.8;
	height: 20vh;
  background-size: 100% 100%;
  flex-direction: row;
  align-items: center;  
  background-color: #030303;
  border: none;
  max-width: 100%;
  margin: 0 0 0 0;
}

@keyframes moving {
	0% {opacity: 1;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}

#gerb {
  position: absolute;
  border: none;
  top: 5%;
  left: 5%;
  margin-top: -50px;
  margin-left: -50px;
  max-width: 16vh;
  min-width: 8vh;
  max-height: 16vh;
  min-height: 8vh;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/gerb.jpg");  
  margin: 0% 0% 0% 0%; 
  background-repeat:no-repeat;
  background-size: 100% 100%;
  float: left;
  animation: moving 6s linear infinite;
}

#label {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border: none;
  opacity: 1;
  max-width: 30vh;
  min-width: 15vh;
  max-height: 30vh;
  min-height: 15vh;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/marshal-label.png");
  background-size: 100% 100%;
  float: left;
  animation: moving 3s linear infinite;
}

#flag {
  position: absolute;
  border: none;  
  top: 5%;
  right: 5%;
  margin-top: -50px;
  margin-left: -50px;
  max-width: 16vh;
  min-width: 8vh;
  max-height: 12vh;
  min-height: 5vh;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/marshal-security@master/src/assets/images/flag.jpg");
  margin: 0% 0% 0% 0%;  
  background-repeat:no-repeat;
  background-size: 100% 100%;
  float: left;
  animation: moving 6s linear infinite;
}